<!DOCTYPE html>
<html lang="en" dir="ltr">
{{>header}}
<body>
<section id="title">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-7">
                <h1 class="big-heading">Lack emojis? Slack emojis.</h1>
            </div>
            <div class="col-lg-5">
            </div>
        </div>
    </div>
</section>
<section id="features">
    <div class="row">
        <div class="col-lg-4 feature-box">
            <i class="icon fas fa-check-circle"></i>
            <h3>Easy to use</h3>
            <p>So easy to use, even QRM could do it.</p>
        </div>
        <div class="col-lg-4 feature-box">
            <i class="icon fas fa-bullseye"></i>
            <h3>Elite analysis</h3>
            <p>State-of-the-art message analysis for precise emojis.</p>
        </div>
        <div class="col-lg-4 feature-box">
            <i class="icon fas fa-heart"></i>
            <h3>Guaranteed</h3>
            <p>Deliver your message in style or your money back.</p>
        </div>
    </div>
</section>
<section id="testimonials">
    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h2>I no longer have to think about my emotions. Now SlackifyMe tells me how to feel!</h2>
                <img class="testimonial-image" src="/img/mattlau.jpeg" alt="matt-profile">
                <em>Matt Lau, London</em>
            </div>
            <div class="carousel-item">
                <h2 class="testimonial-text">My life used to be so lonely, but with SlackifyMe everybody wants to
                    message. </h2>
                <em>Tracy, Warrington</em>
            </div>
        </div>
        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span> </a>
        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span></a>
    </div>
</section>
<section id="tryNow">

</section>
<!-- Call to Action -->
<section id="cta">
    <div class="container">

        <h3 class="cta-heading">Find the emojis you've been lacking so you can get to slacking!</h3>
        <a href="/trynow" class="btn btn-dark btn-lg download-button"> Try it now! </a>
    </div>
</section>
</body>
{{>footer}}
</html>