<button onclick="document.getElementById('login').style.display='block'" style="width:auto;">Login
</button>
    <div id="wrapper">
        <div id="login" class="modal">
            <form class="modal-content animate" action="/action_page.php" method="post">
                <div class="container">
                    <div class="imgcontainer">
                                <span onclick="document.getElementById('login').style.display='none'" class="close"
                                      title="Close Modal">&times;</span>
                    </div>
                    <h1>Log in</h1>
                    <p class="change_link">
                        Don't have an account? Click here to register.
                    </p>
                    <hr>
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <button type="submit">Log in</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('login').style.display='none'"
                            class="cancelbtn">Cancel
                    </button>
                    <span class="psw">Forgot password?</span>
                </div>
            </form>
        </div>
    </div>
