body {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: "Montserrat";
    font-weight: 500;
}

h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

p {
    color: #8F8F8F;
}

/* Headings */
.big-heading {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

#title {
    background-color: #602369;
    color: white;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar {
    z-index: 9999;
    overflow: hidden;
    background-color: #602369;
    padding-bottom: 0.25em;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-brand {
    font-size: 2.3rem;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.row {
    margin: 40px 0;
}

button {
    border-radius: 5px 5px 5px 5px;
    background-color: #602369;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

button:hover {
    opacity: 0.8;
}

/* Download buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
    width: 70%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

/* Features section */
#features {
    padding: 5% 15%;
    background-color: #fff;
    position: relative;
}

.icon {
    color: #ef8172;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

/* Testimonial Section */
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #FFF;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 5% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#tryNow {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {
    .title-image {
        transform: rotate(0);
        position: static;
    }

    #title {
        text-align: center;
    }
}

/* Call To Action */
#cta {
    background-color: #602369;
    text-align: center;
    padding: 7% 15%;
}

.cta-heading {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}

#footer {
    text-align: center;
    padding: 7% 15%;
}

.social-icon {
    margin: 20px 10px;
}

.message-form {
    margin-top: 50px;
}

.confirm {
    text-align: center;
}

/* Form */
.form-container {
    padding-top: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}